#page-cashier{
  input{
    -webkit-appearance: none;
    border:none;
    border-radius: 0;
  }
  .cashier-body{
    padding:0 30px;
    height: 100vh;
  }

  // 顶部栏
  .ui-cashier-header-bar{
    background-color: #f5f5f5;
    height: 80px;
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 0 30px;
    position: relative;
    justify-content: space-between;

    .left{
      display: flex;
      align-items: center;
    }

    .ui-cashier-small-logo{
      width: 112px;
      height: 30px;
      display: inline-block;
      background: url('images/cashier/logo-small.jpg') no-repeat ;
      background-size: 112px 30px;
      margin-right:10px;
    }

    .shopname{
      right: 30px;
      // font-weight: bold;
    }
  }

  //产品信息
  .ui-cashier-goods{
    padding:40px 0;
    display: flex;
    border-bottom: 0.5px solid #f2f0f2; /*no*/
    .ui-cashier-goods-img{
      width: 180px;
      height: 180px;
      min-width: 180px;
    }

    .ui-cashier-goods-title{
      @include px2px('font-size', 30);
    }

    .ui-cashier-goods-right{
      margin-left: 30px;
    }

    .ui-cashier-goods-price{
      color: #fb6630;
      @include px2px('font-size', 32);
      margin-top:30px;
    }
  }

  //产品规格
  .ui-cashier-goods-spec{
    border-bottom: 0.5px solid #f2f0f2;/*no*/
    padding: 30px 0;

    .spec-header{
      display: block;
      @include px2px('font-size', 26);
    }

    .spec-body{
      margin: 20px 0;
      .spec-item{
        border:0.5px solid #000;/*no*/
        border-radius: 30px;
        padding: 10px 20px;
        margin-top:25px;
        flex:1;
        margin-right:28px;
        display: inline-block;
        @include px2px('font-size', 26);

        &.active{
          background: #000;
          color: #fff;
        }

        &.disabled{
          background: #f2f2f2;
          color: #bbbbbb;
          border-color: #f2f2f2;
        }
      }
    }
  }

  // 购买数量
  .ui-cashier-buy-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0;
    border-bottom:0.5px solid #f2f0f2;/*no*/

    .label{
      @include px2px('font-size', 28);
    }

    .number-input{
      display: flex;
      .button{
        width: 50px;
        height: 50px;
        display: inline-block;
        border: 0.5px solid #ddd;/*no*/
        text-align: center;
        line-height: 50px;


        &.disabled{
          color: #bbbbbb;
        }

        &.increase{
          .iconfont{
            @include px2px('font-size', 26)
          }
        }
      }

      .input{
        text-align: center;
        border: 1px solid #ddd;/*no*/
        width: 50px;
        height: 50px;
        border-width: 1px 0 1px 0;/*no*/
      }
    }
  }


  //身份证号码
  .ui-base-input{
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid #f2f0f2;/*no*/
    padding:40px 0;
    align-items: center;

    .label{
      width: 160px;
      color: #fb6630;
      @include px2px('font-size', 30);
    }

    .input-text{
      padding:0 20px;
      @include px2px('font-size', 30);
      flex:1;
    }
  }

  //底部按钮
  .ui-cashier-footer-bar{
    position: fixed;
    display: flex;
    height: 99px;
    bottom:0;
    width: 100%;
    left:0;
    border-top: 1px solid #eeeeee;/*no*/


    //价格
    .price{
      background-color: #fff;
      color: #fb6630;
      display: block;
      text-align: left;
      width: 330px;
      line-height: 99px;
      margin-left:30px;
      @include px2px('font-size', 26);

      .num{
        @include px2px('font-size', 36);
      }
    }


    //支付按钮
    .button-pay{
      text-align: center;
      width: 100%;
      display: block;
      background: #49c651;
      color: #fff;
      line-height: 99px;
      @include px2px('font-size', 34);
      text-decoration: none;

      &:active{
        background:#69e271;
      }
    }
  }


}
