#page-shop-list {
    padding-bottom: 120px;
    min-height: 100vh;
    width: 750px;
    margin: 0 auto;

    @import '../components/ui-navigation-bar'; // 推荐分类

    //暂无样式
    .ui-empty-tip-shop-list {
        background: url(images/index/icon-empty-shop.jpg) no-repeat center center #f4f8fb;
        background-size: 285px 272px;
        width: 100%;
        display: flex;
        height: 100vh;
        margin-top: -100px;
    }

    .ui-shop-list {
        .ui-shop-list-item {
            display: flex;
            padding: 30px;
            padding-bottom: 0;
            color: #999999;
            position: relative;

            &:after {
                content: "\e6f7";
                position: absolute;
                font-family: 'iconfont';
                right: 40px;
                top: 50%;
                transform: translateY(-50%);
                @include px2px('font-size', 18);
            }

            .ui-shop-list-title {
                @include px2px('font-size', 28);
                color: #000;
            }

            .ui-shop-list-left {
                width: 150px;
                height: 150px;
            }

            .ui-shop-list-rate {
                .rate-num {
                    color: #ff7f00;
                    @include px2px('font-size', 24);
                }

                .rate-star {
                    position: relative;
                    top: 1px;
                    margin-left: 10px;
                }
            }

            .ui-shop-list-right {
                margin-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px 0;
            }
        }
    }
}