/**
 * 日期时间选择器
 */

.mbsc-ios.dw-bottom .dw.dw-ltr {
	width: 750px !important;
	left: 50%;
	transform: rotateX(-50%);
}

.mbsc-ios.dw-bottom .dw-li {
	@include px2px('font-size', 36);
	text-align: center;
}

.mbsc-ios.dw-bottom .dwb {
	height: 80px;
	line-height: 80px;
	@include px2px('font-size', 34);
	padding: 0px 20px;
}

.mbsc-ios.dw-bottom .dwwr {
	padding-top: 80px;
}

.mbsc-ios.dw-bottom .dw-i > div {
	display: none;
}

.mbsc-ios .dwwc{
	padding-left: 50px !important;
	padding-right: 50px  !important;
}
