// 顶部导航条
.ui-filter-bar {
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;

    .ui-filter-bar-item {
        text-align: center;
        width: 100%;
        @include px2px('font-size', 26);
    }

    .icon-xiala {
        @include px2px('font-size', 16);
    }
}