// 顶部导航条
.swiper-container-navigation {
    border-bottom: 0.5px solid #ddd;
    /*no*/
    background: #fff;
    width: 750px;
    overflow: hidden;

    .swiper-slide {
        background: transparent;
        @include px2px('font-size', 26);
    }
}

.ui-navigation-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    background: #fff;

    .ui-navigation-bar-item {
        text-align: center;
        display: flex;
        width: 200%;
        line-height: 90px;

        .label {
            color: #808080;
        }

        &.active {
            .label {
                color: #000;
                border-bottom: 2px solid #000;
                /*no*/
                height: 100%;
            }
        }
    }
}