// TabBar
.ui-tabbar {
    position: fixed;
    height: 100px;
    z-index: 500;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #edecec; /*no*/
    background-color: white;
    width: 750px;

    .ui-tabbar-item {
        display: block;
        flex: 1;
        padding: 5px 0 0;
        font-size: 0;
        color: #999999;
        text-align: center;
        tap-highlight-color: rgba(0, 0, 0, 0);
        text-decoration: none;

        &.active {
            color: black;

            .ui-tabbar-label {
                color: black;
            }
        }

        .ui-tabbar-item-icon {
            display: inline-block;
        }
    }

    .iconfont {
        display: inline-block;
        font-size: 46px;
    }

    .ui-tabbar-badge {
        background: white;
        color: #fb6530;
        position: absolute;
        @include px2px('font-size', 22);
        font-weight: bold;
    }

    .ui-tabbar-label {
        text-align: center;
        color: #999999;
        line-height: 1.8;
        @include px2px('font-size', 22);
    }
}