.ui-tips {
    text-align: center;
    position: fixed;
    width: 750px;
    left: 50%;
    top: 20% !important;
    margin-left: -375px;
    height: 88px;
    -webkit-transition: opacity 0.3s;
    margin-top: -44px;
    opacity: 0;
    z-index: -1;
}

.ui-tips span {
    display: inline-block;
    height: 88px;
    opacity: 0;
    background: rgba(#000, 0.7);
    color: #fff;
    line-height: 88px;
    @include px2px('font-size', 34) padding: 0px 40px;
    border-radius: 44px;
}

.ui-tips-show.ui-tips span {
    opacity: 1;
    z-index: 99999;
}
